{% load staticfiles %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <script src="{% static 'robotcontrol/jquery/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'robotcontrol/bootstrap/dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'robotcontrol/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'robotcontrol/css/stylesheet.css' %}" />
    <script type = "text/javascript" src = "{% static 'robotcontrol/js/script.js' %}"></script>
</head>

{% block content %}
    <h2>BOSS THAT ROBOT ARM AROUND!</h2>
        <p id="pos1"> {{ robot.pos_1 }} </p>
        <p id="pos2"> {{ robot.pos_2 }} </p>
        <p id="pos3"> {{ robot.pos_3 }} </p>
        <p id="pos4"> {{ robot.pos_4 }} </p>
        <p id="pos5"> {{ robot.pos_5 }} </p>
{% endblock %}
